body{
  background-color: grey;
}

nav a{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #AFACCE  ;
}

nav a:hover{
  background-color: #afaccea9;
}

section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section img{
  width: 224px;
}

span{
  position: relative;
  left: -12px;
}

section p {
  padding: 0 30px;
  background-color: white;
  color: black;
  height: 25svh;
  line-height: 23px;
}

p{
  color: white;
}

@media screen and (max-width: 760px) {
  section {
    width: 100%;
  }



   img{
    width: 100%;
  }
}