*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial',sans-serif;
  color: slategray;
}

.container{
  width: 60%;
  margin: 0 auto;
}

h1,h2{
  color: orange;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px;
}

footer{
  background-color: grey;
  margin-top: 50px;
  padding: 15px;
  color: white;
}

img{
  padding: 20px;
}


footer p{
  text-align: right;
  margin-right: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* media querry for smaller screen */
@media screen and (max-width: 700) {
  .container{
    width: 90%;
  }

  h1{
    font-size: 200%;
  }

  img{
    width: 100%;
  }
 
}